body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.welcome {
    display: flex;
    background-color: rgb(155, 155, 179);
    flex-grow: 1;
}

.welcome img {
    width: 200px;
    height: 200px;
}

.information-illustrations-container {
    display: flex;
}

.information-illustrations {
    display: flex
}

.information-illustrations img {
    width: 100px;
    height: 100px;
}

.quote {
    display: flex;
}

