body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.welcome {
    display: flex;
    background-color: rgb(155, 155, 179);
    flex-grow: 1;
}

.welcome-words {
    display: flex;
    flex-direction: column;
}

.welcome img {
    width: 200px;
    height: 200px;
}

.information-illustrations-container {
    display: flex;
}

.information-illustrations {
    display: flex;
    flex-direction: column;
}

.information-illustrations img {
    width: 100px;
    height: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.footer-sign-up {
    display: flex;
}

.footer-sign-up-text {
    display: flex;
    flex-direction: column;
}

